# Ignore everything
*
.github/
.git/
# Allow only the wp-content directory
!.gitignore
!wp-content/

# Allow specific subdirectories inside wp-content

!wp-content/plugins/
!wp-content/plugins/wpplugin
!wp-content/plugins/wpplugin/**
!wp-content/plugins/wpplugin.zip

!wp-content/plugins/first-plugin-start
!wp-content/plugins/first-plugin-start/**
!wp-content/plugins/first-plugin-start.zip

!wp-content/plugins/word-count-plugin
!wp-content/plugins/word-count-plugin/**
!wp-content/plugins/word-count-plugin.zip

!wp-content/plugins/view-count-plugin
!wp-content/plugins/view-count-plugin/**
!wp-content/plugins/view-count-plugin.zip

!wp-content/plugins/shortcode-plugin
!wp-content/plugins/shortcode-plugin/**
!wp-content/plugins/shortcode-plugin.zip


# allow uploads directory
!wp-content/uploads/
# Allow specific files in the root directory
!wp-content/uploads/**

!documentation/
!documentation/**

!landing/
!landing/**

!source/
!source/**

# allow sql file for database. if you want to use it.
# database.sql
!wp-content/wpplugin.sql